<nav class="fw-container header-container">
  <button mat-icon-button [matMenuTriggerFor]="menu" color="accent">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a routerLink="/auth/sign-in" *ngIf="!isLoggedIn">
      <button mat-menu-item>Sign In</button>
    </a>
    <a routerLink="/auth/sign-up" *ngIf="!isLoggedIn">
      <button mat-menu-item>Sign Up</button>
    </a>
    <a (click)="onSignOut()" *ngIf="isLoggedIn">
      <button mat-menu-item>Sign Out</button>
    </a>
  </mat-menu>
</nav>