@import "styles/variables.scss";
body {
	margin: 0;
	background: linear-gradient(to right, #642b73, #c6426e);
}

a {
	color: $accent;
	text-decoration: none;
}
button.btn-custom {
	color: #fff;
	background-color: $primary-color;
	&:hover {
		background-color: $secondary-color;
	}
}

button.mat-menu-item {
	color: $secondary-color;
}
.header-container .nav-link {
	font-weight: bold;
	color: $secondary-color;
}
