@import "styles/variables.scss";

.auth-container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
    background: $primary-bg;
    padding: 30px;
    border-radius: 6px;
}
.auth-form {
    width: 300px;
    margin: 0 auto;
}