@import "styles/variables.scss";

.fw-container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.header-container {
	padding: 15px;
	background-color: $primary-bg;
	opacity: .7;
}
